<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <div id="media-list">
            <div class="flex-grid">
                <h1 class="col">{{ title }}</h1>
                <div class="col text-right">
                    <select v-on:change="filterList">
                        <option value="">Select a type of media ...</option>
                        <option v-for="item in uniqueItemsList">{{ item }}</option>
                    </select>
                </div>
            </div>
            <ul v-for="item in mediaList">
                <li v-on:click="item.showDetail = !item.showDetail" v-show="type === '' || item.type === type">
                    <h3>{{ item.title }}</h3>
                    <div v-show="item.showDetail">
                        <p>{{ item.description }}</p>
                        <p>By: {{ item.contributor }}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>